<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet"  href="static/style.css">
</head>
<body>
    
    
        <header>
            <h1>Welcome to production planning</h1>
            <nav>
                <ul>
                    <li><button onclick="window.location.href='login'">Login</button></li>
                    <li><button onclick="window.location.href='signup'">Signup</button></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    
                </ul>
            </nav>
        </header>
        <div class="container">
        <main>
            
            <section id="about">
                <h2>About Us</h2>
                <p>With a focus on optimizing manufacturing processes and 
                    enhancing operational efficiency, we offer a comprehensive 
                    suite of tools designed to meet the dynamic demands of modern
                    businesses.Explore our website to learn more about our services, features, 
                    and success stories. We look forward to embarking on a collaborative 
                    journey toward achieving operational excellence and sustainable growth with you
                    
                    Join hands with us to revolutionize your production planning process and unlock
        the full potential of your manufacturing capabilities. Experience the convenience 
        of a comprehensive production planning system that is not only user-friendly but also 
        scalable and adaptable to your unique business requirements.
    
        Effective scheduling helps in reducing overtime costs, minimizing inventory holding costs,
        and improving overall cost management, leading to enhanced profitability and a competitive 
        edge in the market.</p>
            </section>
            <section id="contact">
                <h2>Contact Us</h2>
                <p>For any inquiries, please contact us at.
                    mannemela2110216@ssn.edu.in,
                mathan2110564@ssn.edu.in or
            mathangi2110092@ssn.edu.in</p>
            </section>
        </main>
        
    </div>
</body>
</html>
